mixin btn_list(params)
	a(href="/#{params.link}")
		li= params.name
mixin btn_sub(params)
	a(href="/#{params.link}")
		.btns_sub(id="#{params.link}-sub")
			.imgInner(id="#{params.link}-img")
			p= params.name
mixin cuote(params)
	.redTag
		h3= params.title
		.holdinfo
			.braket.bleft
			p= params.info
			.braket.bright
mixin img_box(params)
	.shodowiT.imgs_hovers(class="#{params.type}_img" id="#{params.elId}-img")
		.in
			img(src="assets/images/gui/#{params.locate}/#{params.name}.jpg")
			.hover_img(id="#{params.elId}-img-hover")
				.btn_plac.center-all.btn-borders
					p= params.infoBtn